.hostel-details {
  margin: 10px;
  padding: 15px;
}

.hostel-details-p {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1px;
}

.address span {
  font-weight: 700 !important;
  font-size: 35px;
}

.address {
  font-weight: 900;
  font-size: 40px;
}

.image-container {
  border-bottom: 1px solid dimgray;
  height: 600px;
}

.image-container img {
  width: 700px;
  border-radius: 10px;
  height: 550px;
  object-fit: cover;
}

.heading {
  text-transform: capitalize;
}

.ammenities-present,
.hostel-details-heading {
  font-weight: 600;
}

.facilities-present {
  line-height: 25px;
}

.ammenities-div {
  line-height: 25px;

}

.slider-image {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 20px;
}

.slider-image img{
  border-radius: 20px;
}