.hostel-listing {
    margin-top: 0%;
    padding: 20px;

}

.hostel-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.hostel-card {
    flex: 0 0 calc(20% - 1px);
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  background-color: #fff;
    /* flex: 0 0 calc(20% - 1px);
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1); */
}

.hostel-card .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #1f1b1b;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    max-width: 320px;
    opacity: 0.8;
}

.hostel-card .content span {
    font-weight: 600;
}

.hostel-card .content:hover {
    color: #e8e8e8;
}

.hostel-card .heading {
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
}
.hostel-card img {
    width: 100%;
  height: 200px; /* Adjust to your desired image height */
  object-fit: cover; /* This ensures the image maintains its aspect ratio and covers the entire container */
  border-radius: 10px 10px 0 0; 
    /* width: 130%;
    height: 130%;
    object-fit: cover;  */
  }
.hostel-card .para {
    line-height: 1.5;
}

.hostel-card:hover .content {
    opacity: 1;
}

.hostel-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, dimgrey 0%, #007bff 100%);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.hostel-card:hover::before {
    height: 100%;
}

.hostel-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    /* box-shadow: none;
    color: #e8e8e8; */
}

.hostel-card:hover .btn {
    color: #212121;
    background: #e8e8e8;
}

.hostel-card .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.hostel-card .btn:active {
    box-shadow: none;
}