/* reservationForm.css */

form {
    max-width: 800px;
    margin: auto;

    
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type='date'] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  button {
    background: #007bff ;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
  