/* reservationForm.css */

form {
    max-width: 800px;
    margin: auto;

    
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input[type='date'] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  button {
    background: #007bff ;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 3px;
    border: none;
    cursor: pointer;
  }
   

   /* .reservation-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  } 
  
  .reservation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  
  .DateRangePicker {
    width: 80%;
    margin-bottom: 20px;
  }
   
  .price-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #007bff;
  }
  